USE [master]
GO
/****** Object:  Database [QualityReportAutoCoilers]    Script Date: 9/10/2025 2:51:16 AM ******/
CREATE DATABASE [QualityReportAutoCoilers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QualityReportAutoCoilers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\QualityReportAutoCoilers.mdf' , SIZE = 270336KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QualityReportAutoCoilers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\QualityReportAutoCoilers_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QualityReportAutoCoilers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QualityReportAutoCoilers]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/10/2025 2:51:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationFunctionalities]    Script Date: 9/10/2025 2:51:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationFunctionalities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FunctionalityName] [nvarchar](100) NOT NULL,
	[ApplicationModuleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ActionMethodName] [nvarchar](100) NOT NULL,
	[IsMenuItem] [bit] NOT NULL,
 CONSTRAINT [PK_ApplicationFunctionalities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationModules]    Script Date: 9/10/2025 2:51:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationModules](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ControllerName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DisplayName] [nvarchar](50) NOT NULL,
	[IconCode] [varchar](100) NULL,
	[DisplayOrder] [int] NOT NULL,
	[MenuHeader] [varchar](200) NULL,
 CONSTRAINT [PK_FormDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 9/10/2025 2:51:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 9/10/2025 2:51:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 9/10/2025 2:51:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 9/10/2025 2:51:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [bigint] NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 9/10/2025 2:51:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [bigint] NOT NULL,
	[RoleId] [bigint] NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 9/10/2025 2:51:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[FirstName] [varchar](250) NULL,
	[LastName] [varchar](250) NULL,
	[Status] [int] NOT NULL,
	[ProfileImage] [nvarchar](max) NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[RoleTemplateId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 9/10/2025 2:51:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [bigint] NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 9/10/2025 2:51:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ColorName] [varchar](255) NOT NULL,
	[ColorNameInUrdu] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Colors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 9/10/2025 2:51:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[LogId] [uniqueidentifier] NOT NULL,
	[Controller] [nvarchar](100) NULL,
	[ActionName] [nvarchar](100) NULL,
	[RequestBody] [nvarchar](max) NULL,
	[QueryString] [nvarchar](max) NULL,
	[IsAjax] [bit] NOT NULL,
	[IsFormPost] [bit] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[RequestDurationMs] [float] NOT NULL,
	[IsException] [bit] NOT NULL,
	[ExceptionDetails] [nvarchar](max) NULL,
	[ResponseBody] [nvarchar](max) NULL,
	[HttpMethod] [nvarchar](10) NOT NULL,
	[IpAddress] [nvarchar](50) NULL,
	[StatusCode] [int] NOT NULL,
	[RequestHeaders] [nvarchar](max) NULL,
	[ResponseHeaders] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Machines]    Script Date: 9/10/2025 2:51:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[NameInUrdu] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Machines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionTemplate]    Script Date: 9/10/2025 2:51:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionTemplate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TemplateName] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_PermissionTemplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionTemplateDetail]    Script Date: 9/10/2025 2:51:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionTemplateDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TemplateId] [int] NOT NULL,
	[FunctionalityId] [int] NOT NULL,
	[IsAllow] [bit] NOT NULL,
 CONSTRAINT [PK_PermissionTemplateDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionLogs]    Script Date: 9/10/2025 2:51:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionLogs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DrumNumber] [varchar](50) NULL,
	[MachineId] [int] NOT NULL,
	[SizeId] [int] NOT NULL,
	[ColorId] [int] NOT NULL,
	[LengthMentioned] [int] NULL,
	[GoodCoils] [int] NULL,
	[BP] [nvarchar](50) NULL,
	[NP] [nvarchar](50) NULL,
	[ShortLengthMeters] [int] NULL,
	[ShortLengthCoils] [int] NULL,
	[DrumWiseScrap] [int] NULL,
	[LengthRecovered] [int] NULL,
	[Remarks] [nvarchar](255) NULL,
	[Reason] [nvarchar](255) NULL,
	[CreatedBy] [bigint] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ApprovedDate] [datetime] NULL,
	[ApprovedBy] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SizeCategory]    Script Date: 9/10/2025 2:51:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SizeCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Size] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[UpdatedBy] [bigint] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_SizeCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccess]    Script Date: 9/10/2025 2:51:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccess](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NULL,
	[BranchId] [int] NULL,
	[FormName] [nvarchar](50) NULL,
	[FullAccess] [bit] NOT NULL,
	[ApplicationFunctionalityId] [int] NULL,
	[AllowAccess] [bit] NOT NULL,
 CONSTRAINT [PK_UserAccess] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210227200811_Identity', N'3.1.12')
GO
SET IDENTITY_INSERT [dbo].[ApplicationFunctionalities] ON 

INSERT [dbo].[ApplicationFunctionalities] ([Id], [FunctionalityName], [ApplicationModuleId], [IsActive], [ActionMethodName], [IsMenuItem]) VALUES (1, N'Create Roles', 1, 1, N'CreateRoles', 1)
INSERT [dbo].[ApplicationFunctionalities] ([Id], [FunctionalityName], [ApplicationModuleId], [IsActive], [ActionMethodName], [IsMenuItem]) VALUES (2, N'View Roles', 1, 1, N'ManageRoles', 1)
INSERT [dbo].[ApplicationFunctionalities] ([Id], [FunctionalityName], [ApplicationModuleId], [IsActive], [ActionMethodName], [IsMenuItem]) VALUES (3, N'Update Roles', 1, 1, N'UpdatePermissionTemplate', 0)
SET IDENTITY_INSERT [dbo].[ApplicationFunctionalities] OFF
GO
SET IDENTITY_INSERT [dbo].[ApplicationModules] ON 

INSERT [dbo].[ApplicationModules] ([Id], [ControllerName], [IsActive], [DisplayName], [IconCode], [DisplayOrder], [MenuHeader]) VALUES (1, N'Permission', 1, N'Manage Permissions', NULL, 0, N'User Management')
INSERT [dbo].[ApplicationModules] ([Id], [ControllerName], [IsActive], [DisplayName], [IconCode], [DisplayOrder], [MenuHeader]) VALUES (2, N'SizeCategory', 1, N'Manage Size Category', NULL, 0, N'Setup Forms')
INSERT [dbo].[ApplicationModules] ([Id], [ControllerName], [IsActive], [DisplayName], [IconCode], [DisplayOrder], [MenuHeader]) VALUES (3, N'Machine', 1, N'Manage Machines', NULL, 0, N'Setup Forms')
SET IDENTITY_INSERT [dbo].[ApplicationModules] OFF
GO
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 

SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Colors] ON 

INSERT [dbo].[Colors] ([Id], [ColorName], [ColorNameInUrdu], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (3, N'RED', N'سرخ', 1, 1, NULL, CAST(N'2025-09-09T20:07:17.310' AS DateTime), NULL)
INSERT [dbo].[Colors] ([Id], [ColorName], [ColorNameInUrdu], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (4, N'BLACK', N'سیاہ', 1, 1, NULL, CAST(N'2025-09-09T20:07:49.207' AS DateTime), NULL)
INSERT [dbo].[Colors] ([Id], [ColorName], [ColorNameInUrdu], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (5, N'BLUE', N'نیلا', 1, 1, NULL, CAST(N'2025-09-09T20:08:09.600' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Colors] OFF
GO
SET IDENTITY_INSERT [dbo].[Machines] ON 

INSERT [dbo].[Machines] ([Id], [Name], [NameInUrdu], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (1, N'Dual Head', N'دوہری سر', 1, 1, NULL, CAST(N'2025-09-09T01:45:38.210' AS DateTime), NULL)
INSERT [dbo].[Machines] ([Id], [Name], [NameInUrdu], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (2, N'Machine # 1', N'مشین نمبر 1', 1, 1, NULL, CAST(N'2025-09-09T01:46:09.327' AS DateTime), NULL)
INSERT [dbo].[Machines] ([Id], [Name], [NameInUrdu], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (3, N'Machine # 2', N'مشین نمبر 2', 1, 1, NULL, CAST(N'2025-09-09T01:46:23.563' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Machines] OFF
GO
SET IDENTITY_INSERT [dbo].[PermissionTemplate] ON 

INSERT [dbo].[PermissionTemplate] ([Id], [TemplateName], [IsActive], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'Super Admin', 1, 1, CAST(N'2024-05-14T23:44:54.250' AS DateTime), NULL, CAST(N'2025-03-08T23:37:44.723' AS DateTime))
SET IDENTITY_INSERT [dbo].[PermissionTemplate] OFF
GO
SET IDENTITY_INSERT [dbo].[PermissionTemplateDetail] ON 

INSERT [dbo].[PermissionTemplateDetail] ([Id], [TemplateId], [FunctionalityId], [IsAllow]) VALUES (325, 1, 24, 1)
INSERT [dbo].[PermissionTemplateDetail] ([Id], [TemplateId], [FunctionalityId], [IsAllow]) VALUES (326, 1, 30, 1)
INSERT [dbo].[PermissionTemplateDetail] ([Id], [TemplateId], [FunctionalityId], [IsAllow]) VALUES (327, 1, 31, 1)
SET IDENTITY_INSERT [dbo].[PermissionTemplateDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[SizeCategory] ON 

INSERT [dbo].[SizeCategory] ([Id], [Size], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (3, N'7/.029', 1, 1, NULL, CAST(N'2025-09-09T02:18:24.780' AS DateTime), NULL)
INSERT [dbo].[SizeCategory] ([Id], [Size], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (4, N'1.5 mm', 1, 1, NULL, CAST(N'2025-09-09T02:19:04.803' AS DateTime), NULL)
INSERT [dbo].[SizeCategory] ([Id], [Size], [IsActive], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (5, N'6 mm', 1, 1, NULL, CAST(N'2025-09-09T02:19:20.437' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[SizeCategory] OFF
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [RoleTemplateId]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT (newid()) FOR [LogId]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT ((0)) FOR [IsAjax]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT ((0)) FOR [IsFormPost]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT ((0)) FOR [IsException]
GO
ALTER TABLE [dbo].[ApplicationFunctionalities]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationFunctionalities_ApplicationModules] FOREIGN KEY([ApplicationModuleId])
REFERENCES [dbo].[ApplicationModules] ([Id])
GO
ALTER TABLE [dbo].[ApplicationFunctionalities] CHECK CONSTRAINT [FK_ApplicationFunctionalities_ApplicationModules]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[PermissionTemplateDetail]  WITH CHECK ADD  CONSTRAINT [FK_PermissionTemplateDetail_PermissionTemplate] FOREIGN KEY([TemplateId])
REFERENCES [dbo].[PermissionTemplate] ([Id])
GO
ALTER TABLE [dbo].[PermissionTemplateDetail] CHECK CONSTRAINT [FK_PermissionTemplateDetail_PermissionTemplate]
GO
ALTER TABLE [dbo].[ProductionLogs]  WITH CHECK ADD  CONSTRAINT [FK_ProductionLogs_Approved_AspNetUsers] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ProductionLogs] CHECK CONSTRAINT [FK_ProductionLogs_Approved_AspNetUsers]
GO
ALTER TABLE [dbo].[ProductionLogs]  WITH CHECK ADD  CONSTRAINT [FK_ProductionLogs_Colors] FOREIGN KEY([ColorId])
REFERENCES [dbo].[Colors] ([Id])
GO
ALTER TABLE [dbo].[ProductionLogs] CHECK CONSTRAINT [FK_ProductionLogs_Colors]
GO
ALTER TABLE [dbo].[ProductionLogs]  WITH CHECK ADD  CONSTRAINT [FK_ProductionLogs_Created_AspNetUsers] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ProductionLogs] CHECK CONSTRAINT [FK_ProductionLogs_Created_AspNetUsers]
GO
ALTER TABLE [dbo].[ProductionLogs]  WITH CHECK ADD  CONSTRAINT [FK_ProductionLogs_SizeCategory] FOREIGN KEY([SizeId])
REFERENCES [dbo].[SizeCategory] ([Id])
GO
ALTER TABLE [dbo].[ProductionLogs] CHECK CONSTRAINT [FK_ProductionLogs_SizeCategory]
GO
USE [master]
GO
