@{
    ViewData["Title"] = "Production Entries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="content-wrapper">
        <div class="row d-flex align-items-center pt-3">
            <div class="col-sm-12 col-md-6">
                <div class="content-header m-0">All Production Entries</div>
                <p class="content-sub-header m-0">List of all the Productions</p>
            </div>
          @*   <div class="col-sm-12 col-md-6 text-right">
                <button id="AddClient" type="button" class="btn btn-outline-success m-0" onclick="AddClient()"><i class="fa fa-plus-circle"></i> Add Client</button>
            </div> *@
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <table class="table table-striped table-bordered w-100" Id="tblProductionList">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_ScriptDataTable" />
    <partial name="_ScriptSweetAlert" />
    <script src="~/Scripts/CommonJS.js"></script>
    <script src="~/Scripts/AutoCoilerView.js"></script>
}