<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath=".\ProjectX.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
			<httpProtocol>
				<customHeaders>
					<add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0" />
					<add name="Pragma" value="no-cache" />
					<add name="Expires" value="0" />
					<remove name="X-Powered-By" />
					<remove name="X-AspNetMvc-Version" />
					<add name="X-XSS-Protection" value="1; mode=block" />
					<add name="X-Frame-Options" value="DENY" />
					<add name="X-Content-Type-Options" value="nosniff" />
					<add name="Strict-Transport-Security" value="max-age=31536000;includeSubDomains; preload; https://localhost:44375" />
					<add name="Content-Security-Policy" value="font-src *;img-src * data:;" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
	<system.web>
		<compilation defaultLanguage="c#" tempDirectory="D:\Inetpub\vhosts\namalcargo.com\tmp" />
		<authentication mode="Forms" />
		<httpCookies httpOnlyCookies="true" requireSSL="true" />
		<sessionState timeout="20"></sessionState>
	</system.web>
</configuration>
<!--ProjectGuid: d233ec77-6aef-4f08-aa65-d4fc1bf42730-->